*.jar
*.bak
build/*
.gradle/*
.idea/*
*.ipr
*.iws
*.iml
src/main/resources/application.yml
src/test/resources/application.yml
classes/*
.DS_Store
.gradle/
.idea/
build/
out
dump.rdb
tags
/bin/
.vscode/*
.settings/*
.project

